.header{
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    .wrap{
        position: absolute;
        max-width: 1450px;
        height: 100%;
        margin: 0 auto;
        .logo{
            position: absolute;
            top:5%; left: 42px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 7rem;
            img{
                display: block;
                width: 100%;
                margin: 0;
            }
        }
        .callToActions{
            position: absolute;
            top: 30px;
            left: 69em;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            ul,li{
                margin: 0;
                padding: 0;
            }
            li{
                display: inline-block;
                list-style-type: none;
                margin-right: 1.5rem;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    font-size: 1rem;
                    line-height: 1;
                    color: #333;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                
            }
           
        }
    }
}

.loginc{
    position: relative;
    top: -1em;
    left: 3em;
    cursor: pointer;
}
.Logout{
    cursor: pointer;
}